  <nav class="navbar navbar-expand-sm col-lg-8 mx-auto navbar-dark bg-primary" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <% if(!data.loginStatus){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
                <% } else {%>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
  </nav><br>